p { 
  font-family: "Emilys Candy", serif;
  font-weight: 400;
  font-style: normal;
  color: rgb(109, 36, 59);
  text-align: center;
}

title { 
  font-family: "Emilys Candy", serif;
  font-weight: 600;
  font-style: normal;
  color: rgb(109, 36, 59);
  text-align: center; 
} 

body { 
  background-color: rgb(240, 163, 188)
} 

